<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    <!-- <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/> -->

    <!-- AMCL -->>
    <!-- <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch"/> -->
    <include file="$(find demo7)/launch/odom_amcl_nav.launch"/>

    <arg name="marker_size" default="19.9" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/camera/rgb/image_raw" /> <!-- cam_image_topic requires the type sensor_msgs/Image , put /camera/rgb/image_raw or /camera/depth/image_raw-->
    <arg name="cam_info_topic" default="/camera/rgb/camera_info" /> <!--/kinect_head/rgb/camera_info put /camera/rgb/camera_info-->
    <arg name="output_frame" default="/base_link" /> <!-- camera_link also tried-->
    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
        <param name="marker_size"           type="double" value="$(arg marker_size)" />
        <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
        <param name="output_frame"          type="string" value="$(arg output_frame)" />
        <remap from="camera_image"  to="$(arg cam_image_topic)" />
        <remap from="camera_info"   to="$(arg cam_info_topic)" /> 
    </node>


    <node name="demo7" pkg="demo7" type="demo7.py" output="screen"/>
</launch>
